<a href="https://colab.research.google.com/github/yinglinglow/GA_projects/blob/master/day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **String Manipulation**

Create a string with the filepath C:/Users/my_filename.csv and assign it to a variable called filepath

In [0]:
filepath = 'C:/Users/my_filename.csv'

Print the fourth character of the filepath

In [0]:
filepath[3]

'U'

Print the first 2 characters of the filepath

In [0]:
filepath[:2]

'C:'

From the variable filepath, extract the filename (i.e. my_filename) and save it to a variable called filename

In [0]:
filename = filepath.split('/')[-1].split('.')[0]
filename

'my_filename'

Change your filepath to 'C:/Users/Documents/my_otherfilename.json'. 

Does the same code work to extract the filename (i.e. my_otherfilename)?

In [0]:
filepath = 'C:/Users/Documents/my_otherfilename.json'
filename = filepath.split('/')[-1].split('.')[0]
filename

'my_otherfilename'

Print the filename variable in uppercase

In [0]:
print(filename.upper())

MY_OTHERFILENAME

How long is the filename (number of characters)?

In [0]:
len(filename)

16

Join the filename with a new extension, '.txt'

In [0]:
filename + '.txt'

'my_otherfilename.txt'

## Additional:

Check if the filename contains the word 'other'

In [0]:
'other' in filename

True

Check if the filename begins with 'myother'

In [0]:
filename.startswith('myother')

False

Check if the first character of the filename is a number

In [0]:
filename[0].isdigit()

False

##Bonus: 

Create a string with the filepath C:\Users\12345.csv; replace the \ with / and assign it to a variable called filepath

In [0]:
filepath = r'C:\Users\12345.csv'.replace('\\', '/')
filepath

'C:/Users/12345.csv'

## String Cleaning

Remove all white spaces before and after the string '     hello   hihi.  '

In [0]:
'     hello   hihi.  '.strip()

'hello   hihi.'

Remove all excess spaces from '     hello   hihi.  ' and return only 'hello hihi.'

In [0]:
' '.join('     hello   hihi.  '.split())

'hello hihi.'

## **String Formatting**

Create a variable with the string 'Jonathan', and call the variable name.

Create another variable with the string 'Jon' and call the variable nickname.

Print the following multiline string, substituting the variables "name" and "nickname" with the saved variables.
  
  
 Hi my name is "name".
  
You can call me "nickname".

In [0]:
name = 'Jonathan'
nickname = 'Jon'
print(f"""Hi my name is {name}.
You can call me {nickname}.""")

Hi my name is Jonathan.
You can call me Jon.

Format a number 1234567890 into a string with commas separating the thousands (i.e. '1,234,567,890')

In [0]:
'{:,}'.format(1234567890)

'1,234,567,890'

Format a number 0.012345 to two decimal places in percentage (i.e. 1.23%)

In [0]:
'{:.2%}'.format(0.012345)

'1.23%'

## Additional

I have three strings 'me', 'i' and 'myself'.
Output a string that says

''me, myself and i" using .format

In [0]:
'{0}, {2}, and {1}'.format('me', 'i', 'myself')

'me, myself, and i'

## Reading CSV

Read in the CSV file called 'base.csv' using pandas and assign it to a variable df

In [0]:
import pandas as pd
df = pd.read_csv('base.csv')

Read in the CSV file called 'pipe_csv.csv' which is pipe-delimited ('|'). 

Read only columns 'colA', 'colB', 'colY', 'colZ'.

The datatype of colA should be a string.

In [0]:
pd.read_csv('pipe_csv.csv', sep='|', usecols=['colA', 'colB', 'colY', 'colZ'], dtype={'colA':str}).head()

Read in the CSV file called 'tab_csv' which is tab-delimited.

Skip the first row, and use these three names as the column names instead: ['col1', 'col2', 'col3'].

Null values are denoted in this CSV as 'null_values'.

Read into the dataframe only the first 10 rows of this file.

In [0]:
pd.read_csv('tab_csv.csv', delimiter='\t', skiprows=1, usecols=[0,1,2], index_col=0, names=['col1', 'col2', 'col3'], 
            keep_default_na=False, na_values='null_values', nrows=10)

## Global variables

In [0]:
def change_local_x():
  x = 10
  print(f'local x is {x}')

  
x = 100 # global x
print(f'global x is {x}')
change_local_x()
print(f'global x is still {x}')

global x is 100
local x is 10
global x is still 100

In [0]:
def change_global_x():
  global x 
  x = 10
  print(f'local x is {x}')

  
x = 100 # global x
print(f'global x is {x}')
change_global_x()
print(f'global x is now {x}')

global x is 100
local x is 10
global x is now 10

In [0]:
def change_local_list(x):
  x.append(11)
  print(f'local x is {x}')

  
x = [10] # global x
print(f'global x is {x}')
change_local_list(x)
print(f'global x has changed to {x}. Why?')

global x is [10]
local x is [10, 11]
global x has changed to [10, 11]. Why?